*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row{
    width: 100%;
}

h1{
    margin: 2%;
    text-align: center;
    font-size: 3.5em;
}

div{
    position: relative;
}

.items{
    margin: 20px;
    border: 1px black solid;
    background-color: lightblue;
}

section{
    float: right;
    border: 1px black solid;
    position: relative;
    top: -1px;
    right: -1px;
    padding: 10px;
    font-size: 1.25em;
}

#sec1{
    background-color: lightcoral;
}

#sec2{
    background-color: darkseagreen;
}

#sec3{
    background-color: burlywood;
}

p{
    clear: right;
    border: none;
    padding: 10px;
}

@media (min-width:992px){
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6,.col-md-12{
        float: left;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media(max-width:767px){
    .col-sm-12{
        float: left;
        width: 100%;
    }
}